<footer>

    <div class="main-footer">
        <div class="footer-logo"><a href="/"><img src="/img/logo/logo-meck-design-black.png" alt="logo"></a></div>
        <!-- <div class="middle-footer"> -->
        <!--  -->
        <div class="middle-footer">
            <div class="middle-footer-navbars-div">
                <nav class="footer-navbar">
                    <ul>
                        <li class="title-navbar">All About Us</li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Support</a></li>

                    </ul>
                </nav>
                <nav class="footer-navbar">
                    <ul>
                        <li class="title-navbar">All About Your Order</li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Exchange & Returns</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </nav>
            </div>
            <div class="middle-footer-info-div">
                <div class="footer-payment-methods">
                    <p>Accepted payment methods</p>
                    <div class="footer-payment-icons"><i class="fab fa-cc-amex"></i></div>
                    <div class="footer-payment-icons"><i class="fab fa-cc-visa"></i></div>
                    <div class="footer-payment-icons"><i class="fab fa-cc-mastercard"></i></div>
                    <div class="footer-payment-icons"><i class="fab fa-cc-paypal"></i></div>
                </div>
                <div class="footer-address">

                    <p>Calle Falsa 123
                        Springfield
                        Antioquia
                        Argentina
                    </p>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- </div> -->
        <div class="bottom-footer">
            <div class="footer-copyright">
                <h4>Copyright</h4>
            </div>
            <div class="footer-socialmedia-icons-div">
                <div class="footer-social-media-icons"><i class="fab fa-facebook-f"></i></div>
                <div class="footer-social-media-icons"><i class="fab fa-instagram"></i></div>
                <div class="footer-social-media-icons"><i class="fab fa-twitter"></i></div>    
            </div>
        </div>
    </div>

</footer>
