<header>
    <!-- Cabecera de la Página -->
    <section class="main-header">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>

        <a href="/"><img class="img-logo" src="/img/logo/logo-meck-design-100.jpg" alt="logo-meck-design"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Inspiration</a></li>
            </ul>
        </nav>

        <p class="search-desktop">
            <input class="search-bar-desktop" type="search" action="/productos" method="POST" name="busquedapruductos"
                placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </p>

        <div class="icons-header">
            <i class="fas fa-user"></i>
            <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </section>
    </div class="search">
    <p class="search-mobile">
        <input class="search-bar-mobile" type="search" action="/productos" method="POST" name="busquedapruductos"
            placeholder="Buscar">
        <button><i class="fas fa-search"></i></button>
    </p>
    </div>

</header>