<header>
    <!-- Cabecera de la Página -->
    <section class="main-header">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>

        <a href="/"><img class="img-logo" src="/img/logo/logo-meck-design-100.jpg" alt="logo-meck-design"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products/list">Products</a></li>
                <li><a href="/">Inspiration</a></li>
            </ul>
        </nav>

       
            <form class="search-desktop" action="/products/search" method="GET">
            <input class="search-bar-desktop" type="search" 
                name="search" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>


        <div class="icons-header">
         <% if (locals.isUserLogged) { %>
          
            <a href="/products/create"><i class="fas fa-magic"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i> Hi <%= userData.firstName %></a>
            
            <% } else { %> 
            <a href="/user/login"><i class="fas fa-user"></i></a>
            <% } %> 
            <a href="/products/cart"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </section>

    <form class="search-mobile" action="/products/search" method="GET">
        <input class="search-bar-mobile" type="search" 
            name="search" placeholder="Search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>


</header>