<div class="other-product-text">
    <a href="/products">
        <h2>Products</h2>
    </a>
</div>
<section class="product-list-section">
    <% for( let i = 0; i < 4; i++ ) { %>
        <article class="product-list-article">
            <a href="/products/detail/<%= i %>">
                <div class="product-list-image">
                    <img src= "/img/products/<%=products[i].img%>"  alt="Product">
                    <p class="text-image">VIEW PRODUCT</p>
                </div>
                <div class="other-product-detail">
                    <h3 class="other-title-product">
                        <%= products[i].name %> </h3>
                    <p class="other-product-price">
                       $<%= products[i].price %> </p>
                        
                </div>
    </a>
        </article>
    <% } %>
    </section>