<div class="other-product-text">
    <a href="/products/list">
        <h2>Products</h2>
    </a>
</div>
<section class="product-list-section">
    <% for( let i = 0; i < 4; i++ ) { %>
        <article class="product-list-article">
            <a href="/products/detail/<%= otherProducts[i].id %>">
                <div class="product-list-image">
                    <img src= "/img/products/<%=otherProducts[i].image%>"  alt="Product">
                    <p class="text-image">VIEW PRODUCT</p>
                </div>
                <div class="other-product-detail">
                    <h3 class="other-title-product">
                        
                        <%= otherProducts[i].name %> </h3>
                    <p class="other-product-price">
                       $<%= otherProducts[i].price %> </p>
                        
                </div>
    </a>
        </article>
    <% } %>
    </section>