<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meck Design</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <!-- Cabecera de la Página -->
        <section class="main-header">

            <i class="fas fa-bars"></i>

            <img class="img-logo" src="/img/logo/logo-meck-design-100.jpg" alt="logo-meck-design">
            <div class="icons-header">
                <i class="fas fa-light fa-heart"></i>

                    <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
                </div>
        </section>    
        </div class="search">
            <div> 
            <p class="search">
                <input class="search-bar" type="search" action="/productos" method="POST" name="busquedapruductos"
                    placeholder="Buscar">
                <button><i class="fas fa-search"></i></button></p>
        </div>


        <nav class="navbar">
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
            </ul>
            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

    </header>

</body>

</html></i>