<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meck Design</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <!-- Cabecera de la Página -->
        <section class="main-header">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>

            <a href="/"><img class="img-logo" src="/img/logo/logo-meck-design-100.jpg" alt="logo-meck-design"></a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Inspiration</a></li>
                </ul>
            </nav>

            <p class="search-desktop">
                <input class="search-bar-desktop" type="search" action="/productos" method="POST"
                    name="busquedapruductos" placeholder="Buscar">
                <button><i class="fas fa-search"></i></button></p>

            <div class="icons-header">
                <i class="fas fa-user"></i>
                <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </section>
        </div class="search">
        <p class="search-mobile">
            <input class="search-bar-mobile" type="search" action="/productos" method="POST" name="busquedapruductos"
                placeholder="Buscar">
            <button><i class="fas fa-search"></i></button></p>
        </div>

    </header>
</body>

</html>