<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleFooter.css">

</head>

<body>
    <footer>

        <div class="main-footer">
            <div class="logo"><img src="/img/logo/logo-meck-design.jpg" alt="logo"></div>
            <div class="middle-footer">
                <!--  -->
                <div class="middle-footer">
                    <div class="middle-footer1">
                    <nav class="footer-navbar">
                        <ul>
                            <li class="title-navbar">All About Us</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Support</a></li>

                        </ul>
                    </nav>
                    <nav class="footer-navbar">
                        <ul>
                            <li class="title-navbar">All About Your Order</li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Exchange & Returns</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </nav>
                </div>
                    <div class="middle-footer2">
                        <div class="payment-methods">
                            <p>Accepted Payment payment methods</p>
                            <div class="payment-icons"><i class="fab fa-cc-amex"></i></div>
                            <div class="payment-icons"><i class="fab fa-cc-visa"></i></div>
                            <div class="payment-icons"><i class="fab fa-cc-mastercard"></i></div>
                            <div class="payment-icons"><i class="fab fa-cc-paypal"></i></div>    
                        </div>
                        <div class="footer-copy">

                            <p>Calle Falsa 123
                                Springfield
                                Antioquia
                                Argentina
                                (C.P: 050032)
                            </p>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="author">
                    <h4>Copyright</h4>
                </div>
                <div class="iconos-footer">
                    <div class="social-media-icons"><i class="fab fa-facebook-f"></i></div>
                    <div class="social-media-icons"><i class="fab fa-instagram"></i></div>
                    <div class="social-media-icons"><i class="fab fa-twitter"></i></div>    
                </div>

                <div class="language"></div>



            </div>
        </div>

    </footer>


</body>

</html>