<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meck Design</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>

    </header>
    <br>

    <a href="/productCart">PRODUCT CART</a>
    <br>

    <a href="/productDetail">PRODUCT DETAILS </a>

    <br>

    <a href="/header">HEADER</a>
    <br>

    <a href="/footer">FOOTER</a>
    <br>

    <a href="/login">LOGIN</a>
    <br>

    <a href="/register">REGISTER</a>
</body>

</html></i>