<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head') %>
<body>
<!-- header -->
<%- include('./partials/header')%>
    <!-- Main -->

    <main>
        <div class="banner">
            <img src="/img/photo-020400-1024x574.jpeg
" alt="">
        </div>
<!-- other products -->
<%- include('./partials/otherProducts')%>
        <!-- Categorias -->

        <div class="categories-title">
            <h2>Categories</h2>
        </div>
        <section class="categories-main">
            <article class="categories-article">
                <div class="categories-img">
                   <a href="/products/byTexture"> <img src="/img/inspo/Categories1.jpg
            " alt="Categories1"></a>
                    <p class="text-image">BY TEXTURE</p>
                </div>
                <div class="categories-img">
                    <a href="/products/byRoom">  <img src="/img/inspo/Categories2.jpg
            " alt="Categories2"> </a>
                    <p class="text-image">BY ROOM</p>
                </div>

            </article>
        </section>

    </main>
<!-- footer -->
<%- include('./partials/footer') %>
</body>

</html>