<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleFooter.css">

</head>
<body>
    <footer>
       
        <div class="main-footer">
            <div class="logo"><img src="/img/logo/logo-meck-design.jpg" alt="logo"></div>
            <div class="middle-footer">
                
            <nav>
               <ul>
                   <li>All About Us</li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Contact</a></li>
                   <li><a href="#">Gift Cards</a></li>
                   <li><a href="#">Support</a></li>
                   
               </ul> 
            </nav>
            <nav>
<ul>
    <li>All About Your Order</li>
    <li><a href="#">Shipping</a></li>
    <li><a href="#">Exchange & Returns</a></li>
    <li><a href="#">FAQs</a></li>
</ul>
            </nav>
            <div class="footer-copy">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repellendus veniam quam hic incidunt vero voluptates laudantium molestiae expedita, magni nihil optio autem error reiciendis ipsum quod harum quisquam vel!
                </p>

            </div>
            </div>
            <div class="bottom-footer">
<div class="author"><h4 >Copyright</h4></div>
<div class="iconos-footer">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>      
</div>
<div class="language"></div>



            </div>
        </div>
        
    </footer>
    

</body>
</html>


