<!DOCTYPE html>
<html lang="es">

<!-- head -->

<body>
<!-- header -->
    <!-- Main -->

    <main>
        <div class="banner">
            <img src="/img/inspo/photo-020400-1024x574.jpg
" alt="">
        </div>
<!-- other products -->
        <!-- Categorias -->

        <div class="categories-title">
            <h2>Categories</h2>
        </div>
        <section class="categories-main">
            <article class="categories-article">
                <div class="categories-img">
                    <img src="/img/inspo/Categories1.jpg
            " alt="Categories1">
                    <p class="text-image">BY TEXTURE</p>
                </div>
                <div class="categories-img">
                    <img src="/img/inspo/Categories2.jpg
            " alt="Categories2">
                    <p class="text-image">BY ROOM</p>
                </div>

            </article>
        </section>

    </main>
<!-- footer -->


</body>

</html>