<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styleFooter.css">
    <link rel="stylesheet" href="/css/header.css">


</head>

<body>

    <header>

        <!-- Cabecera de la Página -->

        <section class="main-header">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>

            <a href="/"><img class="img-logo" src="/img/logo/logo-meck-design-100.jpg" alt="logo-meck-design"></a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Inspiration</a></li>
                </ul>
            </nav>

            <p class="search-desktop">
                <input class="search-bar-desktop" type="search" action="/productos" method="POST"
                    name="busquedapruductos" placeholder="Buscar">
                <button><i class="fas fa-search"></i></button></p>

            <div class="icons-header">
                <a href="/login"><i class="fas fa-user"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </section>
        </div class="search">
        <p class="search-mobile">
            <input class="search-bar-mobile" type="search" action="/productos" method="POST" name="busquedapruductos"
                placeholder="Buscar">
            <button><i class="fas fa-search"></i></button></p>
        </div>

    </header>
    <!-- <<<< Main >>>> -->

    <main class="main-container">

        <div class="form-group">

            <div class="seccion-account1">
                <h1 class="title">Have a MeckDesign account?</h1>
                <p>Access it now to save time when you shop</p>
                <form class="form-button" action="/login" method="get">
                    <input class="login-button" type="email" name="e-mail" placeholder="Email Address" required>
                    <br>
                    <input class="login-button" type="password" name="password" placeholder="Password" required>
                    <br>
                    <button class="send" type="submit">Sign In</button>
                </form>
                <a class="anchor-password" href="#">Forgot your password?</a>
            </div>


            <!-- <div class="seccion-account"> -->
                <div class="seccion-account2">
                    <h1 class="title">Don't have an account?</h1>
                    <p>Create your own MeckDesign account today. It makes shopping smoother and faster, while also
                        earning you reward points on every purchase.</p>
                    <br>
                    <a href="/register"><button class="create-account" type="submit">Create Your
                            Account</button></a>

                <!-- </div> -->

            </div>




    </main>

    <!-- <<<< footer >>>> -->

    <footer>

        <div class="main-footer">
            <div class="logo"><a href="/"><img src="/img/logo/logo-meck-design-black.png" alt="logo"></a></div>
            <!-- <div class="middle-footer"> -->
            <!--  -->
            <div class="middle-footer">
                <div class="middle-footer1">
                    <nav class="footer-navbar">
                        <ul>
                            <li class="title-navbar">All About Us</li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Support</a></li>

                        </ul>
                    </nav>
                    <nav class="footer-navbar">
                        <ul>
                            <li class="title-navbar">All About Your Order</li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Exchange & Returns</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="middle-footer2">
                    <div class="payment-methods">
                        <p>Accepted payment methods</p>
                        <div class="payment-icons"><i class="fab fa-cc-amex"></i></div>
                        <div class="payment-icons"><i class="fab fa-cc-visa"></i></div>
                        <div class="payment-icons"><i class="fab fa-cc-mastercard"></i></div>
                        <div class="payment-icons"><i class="fab fa-cc-paypal"></i></div>
                    </div>
                    <div class="footer-copy">

                        <p>Calle Falsa 123
                            Springfield
                            Antioquia
                            Argentina
                            
                        </p>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!-- </div> -->
            <div class="bottom-footer">
                <div class="author">
                    <h4>Copyright</h4>
                </div>
                <div class="iconos-footer">
                    <div class="social-media-icons"><i class="fab fa-facebook-f"></i></div>
                    <div class="social-media-icons"><i class="fab fa-instagram"></i></div>
                    <div class="social-media-icons"><i class="fab fa-twitter"></i></div>    
                </div>



            </div>
        </div>

    </footer>

</body>

</html>