<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
<header>   
    
    
    
</header>
<!-- producto del carrito-->
<section>
  <article class="item">
    <div>
        <img src="/img/products/1-1.jpg" width="200" class="image-product">
    </div>
    <div class="product-info">
        <h2>Nombre del producto</h2>
        <div>
            <p class= "item-quantity">Menu desplegable</p>
        </div>
        <div>
            <p class="price">10$</p>
        </div>
        <div class="little-icons">
            <ul class="item-action">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">llevarmelo a casa</a></li>
                <i class="fas fa-heart"></i>
                <li><a href="#">Cantidad de productos guardados</a></li>
            </ul>
        </div>
    </div>
  </article>
  <article class="item">
    <div >
        <img src="/img/products/1-2.jpg" width="200" class="image-product">
    </div>
    <div class="product-info">
        <h2>Nombre del producto</h2>
        <div>
            <p class= "item-quantity">Menu desplegable</p>
        </div>
        <div>
            <p class="price">20$</p>
        </div>
        <div>
            <ul class="item-action">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">llevarmelo a casa</a></li>
                <i class="fas fa-heart"></i>
                <li><a href="#">Cantidad de productos guardados</a></li>
            </ul>
        </div>
    </div>
  </article>


</section>
<section class="action-cart">

   <div class="cart-button">
       <h3>llevartelo a casa</h3>
   </div>

</section>
<section>
    <div>
        <p> copy paste, detalle del producto</p>
        <p>productos recomendados</p>
    </div>
</section>
<footer>

</footer>
</body>
</html>