@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');


/* Body */

body {
    font-family: "Poppins", Verdana, Tahoma, sans-serif;
}

/* ESTILO HEADER */
.main-header{
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-header i{
    padding: 5px;
    margin: 0px;
}

.img-logo {
    height: 70px;
}

.burguer-menu {
    font-size: 22px;
}

.burguer-menu:hover {
    transform: rotate(-45deg);
}

.icons-header {
    display: flex;
}

.navbar {
    display: none;
}

.login-bar {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.login-bar a {
    text-decoration: none;
    color: inherit;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.login-bar ul {
    list-style: none;
    padding-left: 0;
}

.icons-header i{
    text-decoration: none;
    color: #000;
}


/* Search */

.search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0px;
}

.search-bar {
    width: 90vw;
    border-bottom: solid 0.5px #000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 25px;

}

.search button {
    border: 0px;
    border-bottom: solid 0.5px #000;
    background-color: #fff;
    height: 25px;
}



