@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
main {
    width: 100%;
    padding: 20px;
}

body {
    font-family: "Poppins", Verdana, Tahoma, sans-serif;

}

/* Product Detail */


.product-section {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;

}

.product-article {
    width: 100%;
}

.product-image img {
    width: 100%;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
    border-radius: 12px;
}

.product-detail-total {
    display: flex;
    flex-direction: column;
}


/* Product Detail */

.title-product {
    font-size: 24px;
    margin: 0px;
    padding-top: 5px;
}

.product-price {
    font-size: 20px;
    margin: 0px;
    padding-top: 5px;
    font-weight: 200;
}

.description-product {
    font-size: 16px;
    font-weight: 200;
}


/* Formulario Qty Add to cart */

.form-shopping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/* Bot贸n Cantidad */

.quantity-button {
    width: 45%;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    height: 30px;
    border-radius: 6px;
    text-align: center;
}

.quantity label {
    font-weight: 500;
}

/* Agregar a su pedido boton */
.add-to-cart {
    width: 60%;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #000;
    border-color: #000;
    color: #fff;
    padding: 10px, 10px, 10px, 10px;
}

/* Other Products */


.other-product-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.other-product-article .text-image {
    display: none;
}

.other-product-article:hover .text-image {
    display: block;
    background-color: #000;
    color: #fff;
    margin-top: -33px;
    font-size: 16px;
    z-index: 2;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    padding: 5px;

}

.other-product-article {
    margin-bottom: 0px;
}

.other-product-text {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.other-product-image img {
    width: 100%;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
}

.other-product-article a {
    text-decoration: none;
    color: inherit;
}

.other-title-product {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.other-product-price {
    font-size: 18px;
    padding: 0px;
    margin-bottom: 35px;
    text-align: center;
    font-weight: 200;
}

.text-image:hover {
    display: contents;
    transition: ease-in;
}



/* Navegaci贸n en Tablets */
@media (min-width: 361px) {}


/* Navegaci贸n en Desktop */
@media (min-width: 769px) {


    /* Product Detail */

    .product-article {
        display: flex;
        justify-content: center;
    }

    .product-image img {
        width: 50vw;
        height: 50vw;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .product-detail-total {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        padding: 5px;
        padding-left: 25px;
    }

    /* Product Detail */

    .title-product {
        font-size: 35px;
        margin: 0px;
        padding-top: 5px;
    }

    .product-price {
        font-size: 28px;
        margin: 0px;
        padding-top: 5px;
        font-weight: 200;
    }

    .description-product {
        font-size: 18px;
        font-weight: 200;
    }

    /* Bot贸n Cantidad */

    .quantity-button {
        font-size: 20px;
        height: 30px;
        border-radius: 6px;
        text-align: center;
    }

    .quantity label {
        font-weight: 500;
        font-size: 18px;
    }

    /* Agregar a su pedido boton */
    .add-to-cart {
        width: 60%;
        height: 40px;
        font-size: 16px;
        border-radius: 6px;
        background-color: #000;
        border-color: #000;
        color: #fff;
        text-align: center;
        padding: 10px, 10px, 10px, 10px;
    }

    /* Other Products */

    .other-product-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .other-product-image img {
        width: 20vw;
    }

    .other-product-text {
        text-align: center;
        font-size: 28px;
        font-weight: bolder;
        padding-top: 25px;
    }

}