@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;

    /* Body */

}

body {
    background-color: white;
    color: black;
    font-family: "Poppins";
    font-size: smaller;

}

/* PRODUCT CART */


.product-cart {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart-page {
    padding-top: 15px;
    margin-bottom: 50px;
    margin: 10px 0px 50px 0px
}

.item-cart {
    color: black;
    padding: 5px;
    text-align: left;
    font-family: "Poppins";
    display: flex;
    flex-wrap: nowrap;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.image-cart {
    max-width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px #ebebeb;
    font-size: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;


}

.price-cart {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 200;
}

.product-info2 ul {
    list-style: none;
}

.carry {
    margin: 10px 0px 50px 0px
}

.final-price-cart {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.total-cart {
    border-top: solid 2px grey;
}

/*  PRODUCT CART / BUTTONS */

.quantity-cart {

    background-color: #fff;
    color: #000;
    font-size: 16px;
    height: 20px;
    border-radius: 6px;
    text-align: center;

}

.checkout-button {
    width: 35vw;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #000;
    border-color: #000;
    color: #fff;
    padding: 10px, 10px, 10px, 10px;
}

.checkout-button:hover {
    background-color: #fff;
    color: #000000;

    transition: backgroun-color, 0.08s, color, 0.08;
}

/* media querys*/


@media (min-width: 576px) {
    .item-cart {
        justify-content: normal;
    }

    .product-cart-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-cart {
        width: 100%;
        padding: 0px 10px;
    }

    .cart-page {
        width: 70vw
    }

    .cart {
        display: flex;
        justify-content: center;

    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 0px #ebebeb;
        font-size: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        width: 25vw;
    }

    .checkout-button {
        width: 15vw;
    }

    .final-price-cart {
        width: 84vw
    }

    @media (min-width: 768px) {
    }
}