@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.main-footer {
    font-family: "Poppins";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
}

.title-navbar {
    font-weight: bold;
    color: #7c798e;
}

.footer-navbar ul {
    list-style: none;
}

.footer-navbar li {
    padding: 0 5px 10px 5px;
}

.footer-navbar a {
    all: unset;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
}

.middle-footer {
    border-top: solid 1px #7c798e;
    border-bottom: solid 1px #7c798e;
    padding-top: 10px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iconos-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.social-media-icons {
    width: 70px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.author {
    text-align: center;
    margin: 10px;
}

.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.payment-methods p {
    width: 100%;
    text-align: center;
}

.payment-icons {
    font-size: 30px;
    padding: 10px;
}

.footer-copy {
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .main-footer {
        font-family: "Poppins";
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px;
        background-color: #000000;
        color: #ffffff;
    }

    .logo {
        justify-content: flex-start;
    }

    .middle-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px 20px
    }

    .middle-footer1 {
        display: flex;
        flex-wrap: wrap;

    }

    .footer-navbar {
        width: 45%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .middle-footer1,
    .middle-footer2 {
        width: 50%;
        justify-content: space-between;
        align-items: flex-start
    }

    .middle-footer2 {
       padding-left: 20px;
    }
    .middle-footer2 p {
        text-align: center;
        
    }

    .bottom-footer {
        justify-content: space-between;
        flex-direction: row;
        width: 100%
    }
}