@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* BANNER */

.banner2 {
    display: none;
    justify-content: center;
    padding: 10px 30px 30px;
    margin-bottom: 35px;
    border-bottom: solid black 1px;
}

.banner2 img {
    width: 100%;

}

/* main Formulario create*/

.form-group-create {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 90%;
}
.form-group-create h1 {
    text-align: left;
    margin-bottom: 10px;
}
.main-container-create {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
}
/* product list stylesheet */
.product-list-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 0px;

}
.product-list-article .text-image{
    display: none;
}

.product-list-article:hover .text-image {
    display: block;
    background-color: #000;
    color: #fff;
    margin-top: -33px;
    font-size: 16px;
    z-index: 2;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    padding: 5px;

}

.product-list-article {
    margin-bottom: 0px;
    width: 100%;
    padding: 20px
}

.product-list-image img {
    width: 100%;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
} 

/* Cambiar pages */
.pages {
    font-size: 25px;
    text-align: center;
}

@media (min-width: 576px) {
    
    .form-group-create {
        width: 50%;
    }

    .product-list-section{
        justify-content: space-between;

    }
    .product-list-article{
    width:48%;
    }
    .banner2 {
        display: flex;
    }
    
}

@media (min-width: 992px) {
    .product-list-article{
        width:25%;
        }
}