@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* BANNER */

.banner2 {
    display: none;
    justify-content: center;
    padding: 10px 30px 30px;
    margin-bottom: 35px;
    border-bottom: solid black 1px;
}

.banner2 img {
    width: 100%;

}

.borrar {
    background: none;
    color: white;
    border: none;
    justify-self: flex-end;
}

/* main Formulario create*/

.form-group-create {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 90%;
}
.form-group-create h1 {
    text-align: left;
    margin-bottom: 10px;
}
.main-container-create {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
}
/* product list stylesheet */
.product-list-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 0px;

}
.product-list-article .text-image{
    display: none;
}

.product-list-article:hover .text-image {
    display: block;
    background-color: #000;
    color: #fff;
    margin-top: -33px;
    font-size: 16px;
    z-index: 2;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    padding: 5px;

}

.product-list-article {
    margin-bottom: 0px;
    width: 100%;
    padding: 20px
}

.product-list-image img {
    width: 100%;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
} 

/* Cambiar pages */
.pages {
    font-size: 25px;
    text-align: center;
}

/* Footer */

.main-footer {
    font-family: "Poppins";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
}

.title-navbar {
    font-weight: bold;
    color: #7c798e;
}

.footer-navbar ul {
    list-style: none;
}

.footer-navbar li {
    padding: 0 5px 10px 5px;
}

.footer-navbar a {
    all: unset;
}
.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 200px;
}

.middle-footer {
    border-top: solid 1px #7c798e;
    border-bottom: solid 1px #7c798e;
    padding-top: 10px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-payment-methods p {
    width: 100%;
    text-align: center;
}

.footer-payment-icons {
    font-size: 30px;
    padding: 10px;
}
.footer-address {
    text-align: center;
    margin-bottom: 10px;
}
.footer-copyright {
    text-align: center;
    margin: 10px;
}
.footer-socialmedia-icons-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.footer-social-media-icons {
    width: 70px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}





/* Tablets */

@media (min-width: 576px) {
    
    .form-group-create {
        width: 50%;
    }

    .product-list-section{
        justify-content: space-between;

    }
    .product-list-article{
    width:48%;
    }
    .banner2 {
        display: flex;
    }


    /* Footer */
    .footer-logo {
        justify-content: flex-start;
    }
    .middle-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px 20px
    }
    .middle-footer-navbars-div {
        display: flex;
        flex-wrap: wrap;

    }
    .footer-navbar {
        width: 45%;
        justify-content: space-around;
        align-items: flex-start;
    }
    .middle-footer-navbars-div,
    .middle-footer-info-div {
        width: 50%;
        justify-content: space-between;
        align-items: flex-start
    }
    .middle-footer-info-div {
        padding-left: 20px;
     }
     .middle-footer-info-div p {
         text-align: center;
         
     }
     .bottom-footer {
        justify-content: space-between;
        flex-direction: row;
        width: 100%
    }
}

@media (min-width: 992px) {
    .product-list-article{
        width:25%;
        }
}