.main-container {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
}
.register-container {
    width: 90%;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.register-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #4d4c5a;
}
.register-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 30px 30px;
}
.register-header h2 {
    display: block;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px 30px;
}
.form-fields {
    margin: 0 0 20px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 25px;
    width: 90%;
}

.terms {
    align-self: flex-start;
    font-size: 100%;
    padding-bottom: 10px;
}

.terms input {
    margin-right: 15px;
}
.terms a {
    color: #000000;
    font-weight: bold;
}

.register-btn {
    width: 90%;
    align-self: center;
    background: #000;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.register-btn:hover{
    background-color: #fff;
    color: #000000;
    
    transition: backgroun-color, 0.08s, color, 0.08;
    }

.return-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    width: 90%;
}

.return-link a {
    color: black;
}

.register-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 30px 30px;
}
.login-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 30px 30px 0;
    align-self: flex-start;
}
.login-header h2 {
    display: block; 
}

.login-btn {
    width: 200px;
    align-self: flex-start;
    background: #ffffff;
    color: #000000;
    border-radius: 50px;
    border: 2px solid #000000;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.login-btn:hover{
    background-color: #000000;
    color: #fff;
    
    transition: backgroun-color, 0.08s, color, 0.08;
    }


/* ========MEDIA QUERIES BREAKPOINTS========
min-width 576 tablets
min-width 768 larger tablets
min-width 992 desktop */

@media (min-width: 768px) {
    .main-container{
        justify-content: space-between;
    }

    .register-top {
        border-right: 2px solid #4d4c5a;
        border-bottom: none;
        width: 50%;
    }
    .register-bottom {
        width: 50%;
        padding: 0px 30px 30px 30px;
    }

    .register-container {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }
}
