<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/header')%>
            <!-- <<<< Main >>>> -->

            <main class="main-container">

                <div class="form-login-register">

                    <div class="seccion-account1">
                        <h1 class="title">Have a MeckDesign account?</h1>
                        <p>Access it now to save time when you shop</p>
                        <form class="form-button" action="/user/login" method="post">
                            <% if (locals.loginError) { %>
                                <div class="text-danger">
                                    <%= locals.loginError %> 
                                </div>
                            <% } %>
                            <input class="form-fields" type="email" name="email" placeholder="Email Address" required>
                            <br>
                            <input class="form-fields" type="password" name="password" placeholder="Password" required>
                            <br>
                            <div class="terms">
                                <input type="checkbox" name="rememberUser" id="rememberUser"> <label for="rememberUser">Remember User</label>
                        </div>
                            <br>
                            <button class="send" type="submit">Sign In</button>
                        </form>
                        <a class="anchor-links" href="#">Forgot your password?</a>
                    </div>


                    <!-- <div class="seccion-account"> -->
                    <div class="seccion-account2">
                        <h1 class="title">Don't have an account?</h1>
                        <p>Create your own MeckDesign account today. It makes shopping smoother and faster, while also
                            earning you reward points on every purchase.</p>
                        <a href="/user/register"><button class="redirect-btn" type="submit">Create Your
                                Account</button></a>

                        <!-- </div> -->

                    </div>
                </div>



            </main>

            <!-- <<<< footer >>>> -->
            <%- include('../partials/footer') %>
    </body>

</html>