<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>
<body>
<!-- header -->
<%- include('../partials/header')%>

    <!-- MAIN REGISTER -->
    <main class="main-container">
        <!-- =====REGISTER===== -->
        <div class="register-container">
            <div class="register-top">
                <div class="register-header">
                    <h1>Create your account</h1>
                    <p>Create your own MeckDesign account today. It makes shopping smoother and faster, while also
                        earning you reward points on every purchase.</p>
                </div>
                <form action="/register" method="post" class="register-form">
                    <input type="text" name="name" id="name" placeholder="Enter First Name" class="form-fields">
                    <input type="text" name="last-name" id="last-name" placeholder="Enter Last Name"
                        class="form-fields">
                    <input type="email" name="email" id="email" placeholder="Email Address*" class="form-fields"
                        required>
                    <input type="password" name="password" id="password" placeholder="Password*" class="form-fields"
                        required>
                    <div class="terms"><input type="checkbox" name="terms" id="terms" value="terms"><label for="terms">I
                            have read and agreed to <a href="#">terms & conditions</a></label></div>
                    <div class="register-button"><button type="submit" class="register-btn">Create your account</button>
                    </div>
                    <div class="return-link"><a href="/">Return to store</a></div>
                </form>
            </div>
            <!-- ======LOGIN====== -->
            <div class="register-bottom">
                <div class="login-header">
                    <h1>Already have an account?</h1>
                    <p>Access it now to save time when you shop.</p>
                </div>
                <form action="/login" method="get">
                    <button type="submit" class="login-btn">Sign in here</button>
                </form>
            </div>
        </div>
        </div>
    </main>
    <!-- ======FOOTER====== -->
    <%- include('../partials/footer') %>
</body>

</html>