<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head')%>
<body>
<!-- header -->
<%- include('../partials/header')%>
<!-- producto del carrito-->
<section class="product-page">
  <article class="item">
    <div>
        <img src="/img/products/1-1.jpg" width="200" class="image-product">
    </div>
    <div class="product-info">
        <div class="first-cont">
        <h2>Nombre del producto</h2>
        <form class="form-shopping" action="" method="post">
            <div class="quantity">
                <input type="text" value="1" class="quantity-button">
        <span class="price">10$</span>
        </div>
        </div>
        <div class="little-icons">
            <ul class="item-action">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">comprar ahora</a></li>
                <i class="fas fa-heart"></i>
               
            </ul>
        </div>
    </div>
  </article>
  <article class="item">
    <div >
        <img src="/img/products/1-2.jpg" width="200" class="image-product">
    </div>
    <div class="product-info">
        <div class="first-cont">
        <h2>Nombre del producto</h2>
        <form class="form-shopping" action="" method="post">
            <div class="quantity">
                <input type="text" value="1" class="quantity-button">
        <span class="price">20$</span>
        </div>
    </div>
        <div>
            <ul class="item-action">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">comprar ahora</a></li>
                <i class="fas fa-heart"></i>
               
            </ul>
        </div>
    </div>
  </article>


</section>
<section class="carry">
    <div class="final-price">
        <p>precio 30$</p>
        <p>total con envio  40$</p>
       <div class="cart-button"></div>
       <input type="submit" value="continuar con la compra" class="buy">
   </div>

</section>
<!-- other products -->
<%- include('../partials/otherProducts')%>
<!-- footer -->
<%- include('../partials/footer')%>
</body>
</html>