<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('../partials/head')%>
<body>
   <!-- header -->
   <%- include('../partials/header')%>
    <main>
        <!-- Product Detail-->
        <section class="product-section">
            <article class="product-article">
                <div class="product-image">
                    <img src="/img/products/1-1.jpg" alt="Product">
                </div>
                <div class="product-detail-total">
                    <div class="product-detail">
                        <div class="edit-product">
                        <h2 class="title-product" >
                            Title Product  </h2>
                           <a href="/products/edit"><i class="fas fa-pencil-alt"></i></a> 
                        </div>
                        <p class="product-price">
                            $ 20.500 </p>

                    </div>
                    <div class="description-product">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores harum incidunt dolorem
                            perspiciatis omnis
                            corrupti maiores inventore! Dolorem numquam provident, aut labore harum, minus consequatur
                            fugit
                            natus ducimus
                            repellendus aliquid.</p>
                    </div>
                    <!-- <div> -->
                        <form class="form-shopping" action="" method="post">
                            <div class="quantity">
                                <label>Qty</label>
                                <select name="cantidad" id="1" class="quantity-button1">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>

                                </select>
                            </div>
                            <div class="cart-button"></div>
                            <input type="submit" value="Add to Cart" class="add-to-cart">
                    <!-- </div> -->

                    </form>
                </div>
                </div>
            </article>

        </section>
        <!-- Other Products-->
        <%- include('../partials/otherProducts')%>
    </main>
    <!-- footer -->
    <%- include('../partials/footer')%>
</body>

</html>