<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head')%>
<body>
<!-- header -->
<%- include('../partials/header')%>

<main>

        <div class="banner2">
            <img src="/img/inspo/minimal_table-768x484.jpg" >
        </div>
       
                    
    

<!-- producto del carrito-->
<!-- Other Products-->
<%- include('../partials/otherProducts')%>



</main> 
<!-- footer -->
<%- include('../partials/footer')%>
</body>
</html>