<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head')%>

    <body>
        <!-- header -->
        <%- include('../partials/header')%>
            <!--main  -->
            <main class="main-container-create">

                <div class="form-group-create">


                    <h1 class="title">Create a new product</h1>
                    
                    <form class="form-button" action="/products/list" method="post"  enctype="multipart/form-data">
                        <input class="login-button" type="text" name="name" placeholder="Product Name" required>
                        <br>
                        <input class="login-button" type="textarea" name="description" placeholder="Product Description"
                            required>
                        <br>
                        <label for="img">Upload Image</label>
                        <input class="login-button" type="file" name="img" placeholder="Upload Image" required>
                        <br>
                        <label for="By Room">Select By Room</label>
                        <select class="login-button" value="By Room" name="By Room" placeholder="Select By Room">
                            <option value="categories">Living Room</option>
                            <option value="categories">Dinig Room</option>
                            <option value="categories">Kitchen</option>
                        </select>
                        <br>
                        <label for="By Texture">Select By Texture</label>
                        <select class="login-button" value="By Texture" name="By Texture"
                            placeholder="Select By Texture">
                            <option value="categories">Wood</option>
                            <option value="categories">Fabric</option>
                            <option value="categories">Plastic</option>

                        </select>

                        <br>
                        <label for="price">Product Price</label>
                        <input class="login-button" type="number" name="price" step="any" min="1"
                            placeholder="Insert Only Numbers" required>

                        <button class="send" type="submit">Submit</button>
                    </form>

                </div>


            </main>
            <!-- footer -->
            <%- include('../partials/footer')%>
    </body>

</html>