<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head')%>
<body>
     <!-- header -->
     <%- include('../partials/header')%>
     <!--main  -->
<main>

     <main class="main-container-create">

          <div class="form-group-create">


              <h1 class="title">Edit your product</h1>
              
              <form class="form-button" action="/edit" method="get">
                  <input class="login-button" type="text" name="name" placeholder="New Name" >
                  <br>
                  <input class="login-button" type="textarea" name="description" placeholder="New Description">
                  <br>
                  <label for="image">Upload New Image</label>
                  <input class="login-button" type="file" name="image" placeholder="Upload Image">
                  <br>
                  <label for="By Room">Select By Room</label>
                  <select class="login-button" value="By Room" name="By Room" placeholder="Select By Room">
                      <option value="categories">Living Room</option>
                      <option value="categories">Dinig Room</option>
                      <option value="categories">Kitchen</option>
                  </select>
                  <br>
                  <label for="By Texture">Select By Texture</label>
                  <select class="login-button" value="By Texture" name="By Texture"
                      placeholder="Select By Texture">
                      <option value="categories">Wood</option>
                      <option value="categories">Fabric</option>
                      <option value="categories">Plastic</option>

                  </select>
                  <br>
                  <label for="price">New Price</label>
                  <input class="login-button" type="number" name="price" step="any" min="1"
                      placeholder="Insert Only Numbers">

                <button class="send" type="submit">Edit</button>
              </form>

          </div>


      </main>

</main>

     <!-- footer -->
     <%- include('../partials/footer')%>
</body>
</html>
